@import "../../styles/prime-constants";

:host {
    display: flex;
}

.applications {
    flex: 1 1 auto;
    transition: width 0.2s ease-in-out;
}

.prime-application {
    border: 0 solid #000;
    background: #fff;
}

.iframe {
    width: 100%;
    height: $prime-main-height;
    border: 0 solid #555;
    transform-origin: 0% 0%;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

.sidebar {
    width: 0;
    background: #fff;
    transition: width 0.2s ease-in-out;
    outline: 0;
    opacity: 0;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    overflow-x: hidden;

    iframe {
        display: none;
        width: 0;
    }

    &.active {
        width: $prime-right-width;
        border-left: 20px solid $oas-background-color;
        opacity: 1;

        iframe {
            display: block;
            width: $prime-right-width;
        }
    }
}

.sidebar-toggle {
    position: fixed;
    right: 15px;
    top: 50%;
    height: 20px;
    z-index: 111;
    transition: right 0.2s ease-in-out;

    button {
        color: #FFF;
        background: $brand-primary;
    }

    &.active {
        right: $prime-right-width;
    }

}
