{
    "parserOptions": {
      "ecmaVersion": 2017
    },
    "env": {
        "browser": true,
        "node": true,
        "amd": false,
        "mocha": false,
        "jasmine": true,
        "phantomjs": false,
        "jquery": false,
        "prototypejs": false,
        "shelljs": false,
        "es6": true,
        "protractor": true
    },

    "globals": {
        "angular": false,
        "inject": false,
        "module": false,
        "_": false,
        "DataView": true,
        "browser": true
    },

    "plugins": [
        "angular"
    ],

    "rules": {
        "angular/angularelement": 1,
        "angular/controller-as": 0,
        "angular/controller-as-route": 0,
        "angular/controller-as-vm": [0, "vm"],
        "angular/controller-name": [1, "/[A-Z].*Controller$/"],
        "angular/deferred": 0,
        "angular/definedundefined": 0,
        "angular/di": [0, "function"],
        "angular/di-order": [0, true],
        "angular/directive-restrict": [1, {"restrict": "AE", "explicit": "never"}],
        "angular/component-limit": [1, 1],
        "angular/document-service": 1,
        "angular/empty-controller": 1,
        "angular/file-name": 0,
        "angular/foreach": 0,
        "angular/function-type": 0,
        "angular/interval-service": 1,
        "angular/json-functions": 0,
        "angular/log": 0,
        "angular/module-dependency-order": [0, {"grouped": true, "prefix": null}],
        "angular/module-getter": 1,
        "angular/module-setter": 1,
        "angular/no-angular-mock": 0,
        "angular/no-controller": 0,
        "angular/no-cookiestore": 1,
        "angular/no-http-callback": 1,
        "angular/no-inline-template": [0, {"allowSimple": true}],
        "angular/no-jquery-angularelement": 1,
        "angular/no-private-call": 1,
        "angular/no-run-logic": [0, {"allowParams": true}],
        "angular/no-service-method": 1,
        "angular/no-services": [0, ["$http"]],
        "angular/on-watch": 1,
        "angular/one-dependency-per-line": 0,
        "angular/rest-service": [1, "$http"],
        "angular/service-name": [
            1,
            "/^[oO]{1}as/",
            {
                "oldBehavior": false
            }
        ],

        "angular/timeout-service": 0,
        "angular/typecheck-array": 0,
        "angular/typecheck-date": 0,
        "angular/typecheck-function": 0,
        "angular/typecheck-number": 0,
        "angular/typecheck-object": 0,
        "angular/typecheck-string": 0,
        "angular/watchers-execution": [0, "$digest"],
        "angular/window-service": 0,

        "no-cond-assign": 2,
        "no-console": 1,
        "no-constant-condition": 1,
        "no-control-regex": 0,
        "no-debugger": 2,
        "no-dupe-keys": 1,
        "no-empty": 1,
        "no-empty-character-class": 1,
        "no-ex-assign": 0,
        "no-extra-boolean-cast": 0,
        "no-extra-parens": 0,
        "no-extra-semi": 1,
        "no-func-assign": 1,
        "no-inner-declarations": 0,
        "no-invalid-regexp": 1,
        "no-irregular-whitespace": 1,
        "no-negated-in-lhs": 0,
        "no-obj-calls": 0,
        "no-regex-spaces": 1,
        "no-sparse-arrays": 1,
        "no-unreachable": 1,
        "use-isnan": 1,
        "valid-jsdoc": [1, {
            "requireReturn": false
        }],
        "valid-typeof": 2,
        "no-unexpected-multiline": 1,

        "block-scoped-var": 1,
        "complexity": 0,
        "consistent-return": 1,
        "curly": 1,
        "default-case": 0,
        "dot-notation": 1,
        "eqeqeq": 1,
        "guard-for-in": 0,
        "no-alert": 2,
        "no-caller": 1,
        "no-div-regex": 0,
        "no-else-return": 0,
        "no-empty-label": 0,
        "no-eq-null": 0,
        "no-eval": 1,
        "no-extend-native": 0,
        "no-extra-bind": 0,
        "no-fallthrough": 1,
        "no-floating-decimal": 0,
        "no-implied-eval": 1,
        "no-iterator": 0,
        "no-labels": 0,
        "no-lone-blocks": 1,
        "no-loop-func": 0,
        "no-multi-spaces": 0,
        "no-multi-str": 0,
        "no-native-reassign": 0,
        "no-new": 0,
        "no-new-func": 0,
        "no-new-wrappers": 0,
        "no-octal": 0,
        "no-octal-escape": 1,
        "no-process-env": 0,
        "no-proto": 1,
        "no-redeclare": 1,
        "no-return-assign": 0,
        "no-script-url": 2,
        "no-self-compare": 1,
        "no-sequences": 1,
        "no-unused-expressions": 0,
        "no-void": 0,
        "no-warning-comments": 0,
        "no-with": 0,
        "radix": 0,
        "vars-on-top": 0,
        "wrap-iife": 0,
        "yoda": 0,

        "strict": [1, "function"],

        "no-catch-shadow": 0,
        "no-delete-var": 2,
        "no-label-var": 1,
        "no-shadow": 0,
        "no-shadow-restricted-names": 2,
        "no-undef": 1,
        "no-undef-init": 1,
        "no-undefined": 0,
        "no-unused-vars": [1, {"vars": "all", "args": "all"}],
        "no-use-before-define": 0,




        "handle-callback-err": 0,
        "no-mixed-requires": 0,
        "no-new-require": 0,
        "no-path-concat": 0,
        "no-process-exit": 0,
        "no-restricted-modules": 0,
        "no-sync": 0,

        "brace-style": [0, "1tbs"],
        "camelcase": [1, {
            "properties": "always"
        }],
        "comma-spacing": 1,
        "comma-style": [1, "last"],
        "consistent-this": 0,
        "eol-last": 0,
        "func-names": 0,
        "func-style": 0,
        "key-spacing": 0,
        "max-nested-callbacks": 0,
        "new-cap": 1,
        "new-parens": 0,
        "no-array-constructor": 0,
        "no-inline-comments": 0,
        "no-lonely-if": 0,
        "no-mixed-spaces-and-tabs": 0,
        "no-multiple-empty-lines": [1, {"max": 4}],
        "no-nested-ternary": 0,
        "no-new-object": 0,
        "no-spaced-func": 0,
        "no-ternary": 0,
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0,
        "no-wrap-func": 0,
        "one-var": 0,
        "operator-assignment": 0,
        "padded-blocks": 0,
        "quote-props": 0,
        "quotes": [1, "single"],
        "semi": [1, "always"],
        "sort-vars": 0,
        "space-after-function-name": 0,
        "space-after-keywords": 0,
        "space-before-blocks": 0,
        "space-in-brackets": 0,
        "space-in-parens": 0,
        "space-infix-ops": 0,
        "space-return-throw-case": 0,
        "space-unary-ops": 0,
        "spaced-comment": 0,
        "wrap-regex": 0,
        "semi-spacing": [1, {
            "before": false,
            "after": true
        }],
        "id-length": [1, {"min": 3, "exceptions": ["ip", "it", "m", "e", "x", "y", "z", "i", "j", "k", "id", "ui", "vm", "$q", "fn", "cb", "to", "ai", "en", "fs", "ec", "EC"]}],
        "dot-location": [1, "property"],

        "no-var": 0,
        "generator-star": 0,

        "max-depth": 0,
        "max-len": 0,
        "max-params": 0,
        "max-statements": 0,
        "no-bitwise": 1,
        "no-plusplus": 0
    }
}
