node_modules
dist
.tmp
.sass-cache
.cache
.idea
test/browser
test/coverage
test/*.results.xml
debug.log
*.iml
.test_results
test/e2e/.tmp
.vscode
.vscode/settings.json
*.code-workspace
.packages.hash
coverage
.webpack.watch
.webpack.build
/.npmrc
