registry=http://oasartifactory.scania.com/artifactory/api/npm/npm-virtual
package-lock=false
proxy=null
https-proxy=null
chromedriver_cdnurl=https://oasartifactory.scania.com/artifactory/ext-release-local/webdrivers/chrome/
PUPPETEER_DOWNLOAD_HOST=https://oasartifactory.scania.com/artifactory/ext-release-local
NO_UPDATE_NOTIFIER=true
sass_binary_site=https://oasartifactory.scania.com/artifactory/ext-release-local/node-sass
legacy-peer-deps=true