@import "../../styles/prime-constants";

.navbar {
    background: #fff;
    border-radius: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    height: 42px;

    .expand-list-button {
        display: inline-block;
        position: relative;
        margin: 0 6px;
        width: 32px;
        height: 32px;
        line-height: 32px;
        padding: 0;
        border: 1px solid #ccc;
        min-width: unset;
        @media (min-width: $screen-md-larger-with-offset) {
            display: none;
        }
    }

    .prime-nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 4px;

        @media (max-width: $screen-md-larger) {
            display: none;
            z-index: 9999;
            background-color: white;
            margin: 0;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            position: absolute;
            top: 55px;

            &.expanded {
                display: block;
            }
        }

        float: none;
        border: none;

        button {
            padding: 15px 20px;
            font-weight: 500;
            border-right: 1px solid #fafafa;
            line-height: 12px;
            font-size: 16px;
            color: $brand-primary;

            &:focus {
                color: white;
                background-color: $brand-primary;
            }

            &:hover {
                color: white;
                background-color: darken($brand-primary, 10%);
            }

            &:active {
                color: #fff;
                background-color: $brand-primary;
                font-weight: 500;
            }

            &[disabled] {
                color: #d3d3d3;
                background-color: #fff;
                cursor: not-allowed;
            }
        }
    }

    .command-palette {
        margin-left: auto;
    }
}
