@import '../../../../../web-lib-angular/src/styles/colors';
@import "../../styles/prime-constants";

.prime-menu-nav {
    font-size: 16px;

    li.margin-right + li a {
        border-left: 1px solid #dddddd;
    }

    button {
        margin-right: 7px;
    }

    /*
     * sidenav
     */

    .sidenav {
        padding: 3px;
    }
    /* sidenav navigation */

    .nav-sidenav {
        margin: 0;
        padding-left: 0;
        list-style: none;

        li {
            cursor: pointer;
            position: relative;
            max-width: 100%;
            margin-bottom: 0;
            padding: 2px 4px 0;
            color: #666666;
            background: rgb(243, 243, 243);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            border: #d0d0d0 1px solid;
            border-left: transparent ($menu-tab-color-bar-width) solid;
            right: 0;
            transition: all .1s linear;

            &:hover {
                background-color: #fff;
            }

            &.active {
                color: $oas-black-text;
                background-color: #fff;
                border-right: 0;
                &:hover, &:focus {
                    background-color: #fff;
                }
            }

            &:not(:last-child) {
                border-bottom: 0;
            }

            .main-title {
                font-size: 12px;
                font-weight: 700;
            }

            .sub-title {
                font-size: 12px;
            }

            .menu-form-definition {
                font-size: 11px;
                font-style: italic;
            }

            .badge {
                margin-right: 5px;
                font-size: 16px;
            }


            .close {
                position: absolute;
                top: 0;
                right: 7px;
                opacity: 0.7;
                text-shadow: none;
                margin-right: 0;
                margin-top: 0;
                color: #777;
                background: none;
                display: none;
                padding: 0;
                cursor: pointer;
                border: 0;
                -webkit-appearance: none;

                &:active {
                    color: #777;
                    opacity: 1;
                }

                span {
                    font-size: 23px;
                    font-weight: 700;
                }
            }

            &:hover .close {
                display: block;
            }

            &:hover .prime-menu-button {
                width: calc(100% - 20px);
            }

            // Indentation
            &.level-0 {
                margin-left: ($menu-tab-color-bar-width);
            }

            &.level-1 {
                margin-left: ($menu-tab-color-bar-width*2) + ($menu-tab-color-bar-width*0.5);
            }

            &.level-2 {
                margin-left: ($menu-tab-color-bar-width*3) + ($menu-tab-color-bar-width*0.5*2);
            }

            &.level-3 {
                margin-left: ($menu-tab-color-bar-width*4) + ($menu-tab-color-bar-width*0.5*3);
            }

            // Tab coloring
            &.blue {
                border-left-color: $washed-out-blue;
            }
            &.red {
                border-left-color: $washed-out-red;
            }
            &.orange {
                border-left-color: $washed-out-orange;
            }
            &.grey {
                border-left-color: $washed-out-grey;
            }
            &.yellow {
                border-left-color: $washed-out-yellow;
            }
            &.black {
                border-left-color: $washed-out-black;
            }
            &.purple {
                border-left-color: $washed-out-purple;
            }
            &.forest-green {
                border-left-color: $washed-out-forest-green;
            }
            &.min-height {
                height: 40px;
            }
            &.max-height {
                height: 55px;
            }
        }
    }
}

.prime-menu-button {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prime-menu-button-inline-badge-fix {
    display: flex;
}

.prime-menu-spinner {
    margin-top: 0;
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
}


.session-id-label {
    position: absolute;
    bottom:0;
    padding: 6px;
    font-size: 12px;
    color: #888;
}
