$component-height: 80px;
$base-margin: 6px;
$double-margin: $base-margin * 2;
$triple-margin: $base-margin * 3;
$quadruple-margin: $base-margin * 4;
$oas-font: "Helvetica Neue", Helvetica, Arial, sans-serif;

// Cards
$card-padding: 16px 20px 12px;