html body div {
    background: transparent;
}

/* Base styling */
.oas-doc-styles {
}

/* Backgrounds */
.oas-doc-bg-draft {
    background-image: url(https://oas/document/images/draft-background.png) !important;
}

.oas-doc-bg-released {
    background-color: #FFFFFF !important;
}

/* Headers */
.oas-doc-styles h1, h2, h3, h4, h5 {
    border-bottom: 2px solid #3E7FA3 !important;
}

/* Anchors */
.oas-doc-styles a img {
    border: none !important;
}

.oas-doc-styles a button {
    border: none !important;
}

/* Tables */
.oas-doc-styles th {
    font-size: 10.5pt !important;
    font-weight: bold !important;
    color: #444444 !important;
    text-transform: none !important;
    background-color: #D1E8F2;
    padding: 6px !important;
    text-align: center !important;
    vertical-align: middle !important;
}

.oas-doc-styles td {
    padding: 6px !important;
    text-align: left;
    vertical-align: top;
}

.oas-doc-styles td p {
    font-size: 1em;
}

/* Lists */
.oas-doc-styles ul {padding-left: 2em;
}
.oas-doc-styles ol {padding-left: 2em;
}
.oas-doc-styles ol li {list-style-type:decimal;
}
.oas-doc-styles ol ol {margin-bottom:1em;
}
.oas-doc-styles ol ol li {list-style-type:lower-latin;
}
.oas-doc-styles ol ol ol {margin-bottom:1em;
}
.oas-doc-styles ol ol ol li {list-style-type:lower-roman;
}

.oas-doc-styles ul li {list-style-type:disc;
}
.oas-doc-styles ul ul {margin-bottom:1em;
}
.oas-doc-styles ul ul li {list-style-type:circle;
}
.oas-doc-styles ul ul ul {margin-bottom:1em;
}
.oas-doc-styles ul ul ul li {list-style-type:square;
}

.oas-doc-styles ol ul {margin-bottom:1em;
}
.oas-doc-styles ol ul li {list-style-type:circle;
}
.oas-doc-styles ol ul ol {margin-bottom:1em;
}
.oas-doc-styles ol ul ol li {list-style-type:lower-roman;
}
.oas-doc-styles ol ol ul {margin-bottom:1em;
}
.oas-doc-styles ol ol ul li {list-style-type:square;
}
.oas-doc-styles ol ul ul {margin-bottom:1em;
}
.oas-doc-styles ol ul ul li {list-style-type:square;
}

.oas-doc-styles ul ol {margin-bottom:1em;
}
.oas-doc-styles ul ol li {list-style-type:lower-latin;
}
.oas-doc-styles ul ul ol {margin-bottom:1em;
}
.oas-doc-styles ul ul ol li {list-style-type:lower-roman;
}
.oas-doc-styles ul ol ul {margin-bottom:1em;
}
.oas-doc-styles ul ol ul li {list-style-type:square;
}
.oas-doc-styles ul ol ol {margin-bottom:1em;
}
.oas-doc-styles ul ol ol li {list-style-type:lower-roman;
}

/* Code Blocks*/
.oas-doc-styles pre code {
    font-size: 8pt;
}

/* Note Blocks */
.oas-doc-styles .note-block {
    border-top: 2px solid #3E7FA3 !important;
    border-bottom: 2px solid #3E7FA3 !important;
    border-left: none !important;
    border-right: none !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    margin-left: 2em !important;
}

.oas-doc-styles tr.note-block {
    border-style: none !important;
}

.oas-doc-styles td.note-block {
    border-style: none !important;
    vertical-align: top !important;
    text-align: left !important;
    font-size: 11px !important;
}

.oas-doc-styles a.note-block:link, a.note-block:visited {
    font-size: 11px !important;
}

.oas-doc-styles .fa-exclamation-triangleIconFmt {
     color: #FFC000 !important;
 }
.oas-doc-styles .warningIconFmt {
    font-family: "Material Icons Round" !important;
    color: #FFC000 !important;
}
.oas-doc-styles .fa-info-circleIconFmt {
    color: #0C9BD7 !important;
}
.oas-doc-styles .infoIconFmt {
    color: #0C9BD7 !important;
}

/* Glossary page-related styles*/
.oas-doc-styles .glossaryHdrFmt {
    color: #808080;
    font-size: 14pt;
    width: 20%
}

/* Text indentation styles (primarily used to indent blocks of text) */
.oas-doc-styles .smIndent {
    margin-left:2em !important;
}

.oas-doc-styles .lgIndent {
    margin-left:4em !important;
}

/* Fake a <br /> tag, which many browsers render as two <br> tags, and
   which we want to avoid!
 */
.oas-doc-styles .br:before {
    content: "\a ";
    white-space: pre;
}

/* Alignment styles (primarily used for table cells) */
.oas-doc-styles .alignTL {
    vertical-align: top !important;
    text-align: left !important;
}

.oas-doc-styles .alignTC {
    vertical-align: top !important;
    text-align: center !important;
}

.oas-doc-styles .alignTR {
    vertical-align: top !important;
    text-align: right !important;
}

.oas-doc-styles .alignML {
    vertical-align: middle !important;
    text-align: left !important;
}
.oas-doc-styles .alignMC {
    vertical-align: middle !important;
    text-align: center !important;
}

.oas-doc-styles .alignMR {
    vertical-align: middle !important;
    text-align: right !important;
}

/* Width limits (primarily used for images) */
.oas-doc-styles .imageWidth {
    /* Let the browser fit the image based on its actual size */
}

.oas-doc-styles .minWidth {
    width: 30%;
}

.oas-doc-styles .normalWidth {
    width: 50%;
}

.oas-doc-styles .plusWidth {
    width: 70%;
}

.oas-doc-styles .fullWidth {
    width: 100%;
}

/* Visibility styles */
.oas-doc-styles .visible {
    visibility: visible;
}

.oas-doc-styles .hidden {
    visibility: hidden;
}

/* Text type/usage styles */
.oas-doc-styles .captionBlock {
    font-weight: bold;
    margin-left: 500px;
}

.oas-doc-styles .ctrlLabel {
    font-weight: bold;
}

.oas-doc-styles .citation {
    color: #9A9A9A;
    font-weight: bold;
    font-style: italic;
    margin-left: 10%;
    margin-right: 40%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.oas-doc-styles .subscript {
    vertical-align: sub;font-size:67%;
}

.oas-doc-styles .superscript {
    vertical-align: super;font-size:67%;
}

.oas-doc-styles .notSupported {
    color: #A0A0A0;
}

/* Icon Colours */
.oas-doc-styles .contentTypeHdrArrow {
    font-weight: bold;
    color: #0C9BD7;
    vertical-align: middle;
}

.oas-doc-styles .acceptHdrArrow {
    font-weight: bold;
    color: #F5BF36;
    vertical-align: middle;
}

.oas-doc-styles .abstractTypeMark {
    color: #FFCC00;
    font-size: larger;
    text-align: center !important;
}

.oas-doc-styles .abstractTypeRow {
    color: white;
    font-weight: bold;
    background-color: #FFCC00;
}

.oas-doc-styles .questionComment {
    font-weight: bold;
    font-style: italic;
    color: #990000;
}

/* Vertically align the DINGBAT (NEGATIVE) CIRCLED SANS-SERIF DIGIT as "middle", but
 * don't let its font size widen the line spacing. We typically embed/combine these
 * glyphs with "standard" size text, which is currently 14px (hence the 64%).
 */
.oas-doc-styles .calloutGreen {
    color: #385723;
    font-size:22px;
    vertical-align:-25%;
    line-height:64%;
}

/* Border from button constructed from an icon. */
.oas-doc-styles .iconButton {
    border:1px solid #CCCCCC;
    border-radius:10%;
    padding-top:0.25em;padding-bottom:0.25em;padding-right:0.35em;padding-left:0.35em;
    margin:1px;
}

/* Render an icon (such as fa-times) as a "subscript" of a preceding icon, such as "clear all filters".
 * Note that this does not scale automatically when using the size attribute, such as size="2x", or
 *  for "compound" icons. In that case, do not use this class - use an explicit style instead.
 */
.oas-doc-styles .iconTimesSub {
    margin-left:-0.4em;
    margin-top:1em;
    font-size:80%;
}

/* Specify in conjunction with icon fa-caret-up and class lblBlue to duplicate the
 * appearance of Edit's "changed" indicator
*/
.oas-doc-styles .editMarker {
    transform:rotate(45deg);vertical-align:super !important;text-align:right;
}

.oas-doc-styles .buttonBlue {
    color: #3D88C9;
}

.oas-doc-styles .fwBrightBlue {
    color: #0C9BD7;
}

.oas-doc-styles .fwDarkRed {
    color: #7C1C1D;
}

.oas-doc-styles .fwBlueGrey {
    color: #3E7FA3;
}

.oas-doc-styles .fwDarkGrey {
    color: #616C77;
}

.oas-doc-styles .fwHarvestGold {
    color: #F5BF36;
}

.oas-doc-styles .fwBeige {
    color: #E3D9BC;
}

.oas-doc-styles .fwOffWhite {
    color: #EEEFF0;
}

.oas-doc-styles .fwPaleBlue {
    color: #D1E8F2;
}

.oas-doc-styles .fwGreyGreen {
    color: #265667;
}

.oas-doc-styles .lblBlue {
    color: #418BCA;
}

.oas-doc-styles .lblGreen {
    color: #458744;
}

.oas-doc-styles .lblRed {
    color: #9E2B22;
}

.oas-doc-styles .lblOrange {
    color: #E37B25;
}

.oas-doc-styles .lblGrey {
    color: #989898;
}

.oas-doc-styles .hdrBlack {
    color: #171717;
}

.oas-doc-styles .hdrGold {
    color: #CCA430;
}

/* OAS Prime Activity Tab Category Colours */
.oas-doc-styles .oaspNav {
     color: #C0D6C0;
 }

.oas-doc-styles .oaspAnalyseCO {
    color: #D6D786;
}

.oas-doc-styles .oaspAnalyseNonCO {
    color: #91CBDB;
}

.oas-doc-styles .oaspViewers {
    color: #F6A8A5;
}

.oas-doc-styles .oaspEditors {
    color: #F8D3A3;
}

.oas-doc-styles .oaspSpecialTools {
    color: #757575;
}

.oas-doc-styles .oaspAdmin {
    color: #8B78AF;
}

/* Text Highlighting Styles */
.oas-doc-styles .highlighterYellow {
    background-color: #FFFF99 !important;
}

.oas-doc-styles .highlighterBlue {
    background-color: #99FFFF !important;
}

.oas-doc-styles .highlighterPink {
    background-color: #FF99FF !important;
}

.oas-doc-styles .highlighterGreen {
    background-color: #99FF99 !important;
}

/* Supported/Not Supported feature decorator styles */
.oas-doc-styles .supportedTickMark {
    color: #4B792D;
    vertical-align: middle !important;
    text-align: center !important;
}

.oas-doc-styles .notSupportedTickMark {
    color: #990000;
    vertical-align: middle !important;
    text-align: center !important;
}

/* Horizontal/vertical rule-related styles */
.oas-doc-styles .horizontalRuleFmt {
	border-bottom: 2px solid #3E7FA3;
    margin-bottom: 12px;
}

.oas-doc-styles .oas-col-right-border {
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #D0D9E0;
}

/* OAS Documentation angularJS Directive Devel Mode Styles */
.oas-doc-styles .develDirectiveOuterBorder {
    border:2px solid darkblue; background-color:#CCCCFF !important;
}

.oas-doc-styles .develDirectiveInnerMargin {
    margin:2em 4em 2em 4em;
}

/* OAS Documentation Sprites */
.oas-doc-styles .sprite-settings {
    width: 29px;
    height: 29px;
    background: url(https://oas/document/images/oas-sprites-windows-icons.png) 0px 0px;
}
.oas-doc-styles .sprite-win7 {
    width: 31px;
    height: 29px;
    background: url(https://oas/document/images/oas-sprites-windows-icons.png) -31px 0px;
}
.oas-doc-styles .sprite-win10 {
    width: 31px;
    height: 29px;
    background: url(https://oas/document/images/oas-sprites-windows-icons.png) -69px 0px;
}
