.message-paragraph {
    margin-bottom: 12px;
    display: block;
}

.messages-wrapper {
    max-width: 600px;
    margin-bottom: 24px;
}

.action-wrappers {
    text-align: right;
}

.actions-wrapper {
    justify-content: flex-end;

    button:not(:first-child) {
        margin-left: 8px;
    }

    .align-left {
        margin-right: 0;
    }

    .align-left-last {
        margin-right: auto;
    }
}